body{
    margin: 0;
    min-height: 300px;
}

nav{
    width: 100%;
    float: left;
}

.menu{
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: #6CBB95;

}

.menu li{
    display: inline;
}

.menu-left, .menu-right {
    display: inline; 
}

.menu-right li {
    margin-right: 5px;
}


.button{
    font-family: Arial;
    font-size: 1em;
    font-style: none;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.button:link{
    background-color: #6CBB95;
    color: #ffffff;
}

.button:hover{
    background-color: lightblue;
}

.dados{
        font-family:  Castellar ;
        color:#384936;
        font-style: none;
        text-align: center;
        justify-content: center;
        font-size: 1em;
        text-decoration: none;
}



.button1{
    font-family: Arial;
    background-color: #6CBB95;
    font-size: 1em;
    font-style: none;
    color: white;
    padding: 4px;
    border-radius: 5px}
}

.button1:link{
    background-color: #6CBB95;
    color: #ffffff;
}

.button1:hover{
    background-color: lightblue;
}

.button1:disabled{
    background-color: lightgray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body{
  background-image: url(https://i.pinimg.com/564x/33/0c/09/330c0903a27fd02fcd3c53f8d56b6f2a.jpg)
}
