body{
    margin: 0;
    min-height: 300px;
    padding-bottom: 100px;
}

nav{
    width: 100%;
    float: left;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  height: 100%;
  background-color: #6CBB95;
  list-style-type: none;
}

.menu-left,
.menu-right {
  display: flex;
  align-items: center;
}

.menu-right {
  margin-left: auto;
}

.menu li {
  display: inline;
}


footer {
    background-color: #487D64; /* Ajuste a cor conforme necessário */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Ajuste a espessura conforme necessário */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em; /* Ajuste o tamanho da fonte conforme necessário */
}

.menu li{
    display: inline;
}

.button{
    font-family: Arial;
    font-size: 1em;
    font-style: none;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.button:link{
    background-color: #6CBB95;
    color: #ffffff;
}

.button:hover{
    background-color: #487D64;
}

.dados{
        font-family:  Castellar ;
        color:#384936;
        font-style: none;
        text-align: center;
        justify-content: center;
        font-size: 1em;
        text-decoration: none;
}

.title{
        font-size: 0.8em; /* Tamanho da fonte menor */
        margin-top: 20px; /* Espaço acima do título */
}

.button1{
    font-family: Arial;
    background-color: #6CBB95;
    font-size: 1em;
    font-style: none;
    color: white;
    padding: 4px;
    border-radius: 5px}
}

.button1:link{
    background-color: #6CBB95;
    color: #ffffff;
}

.button1:hover{
    background-color: #487D64;
}

.button1:disabled{
    background-color: lightgray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto; 
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.date-column {
    width: 300px; /* Ajuste este valor conforme necessário */
}

body{
  background-image: url('/static/images/background3.png');
}

.image-button {
  display: inline-block;
  padding: 0;
  margin-right: 10px; /* Adjust as necessary */
}

.home-icon {
  width: 80px; /* Adjust size as necessary */
  height: 64px; /* Adjust size as necessary */
  vertical-align: middle;
}
