<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão de Eventos Universitários PCII</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    {% if usergroup == 'users' %}
                        <li><a class="button" href="/logoff">Logoff</a></li>
                        
                        <li><a class="button" href="/gform/Participant">Participants</a></li>
                        <li><a class="button" href="/eventsT">Events</a></li>
                        <li><a class="button" href="/submenu?subm=registration">Registration</a></li>
                        
                        <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                        
                        <br><br>
                        
                        {% if submenu == "registration" %}
                            <li><a class="button" href="/subform/Participant_Registration?subm=registration">Registration</a></li>
                            <li><a class="button" href="/gform/Feedback?option=insert">Feedback</a></li>
            
                        {% endif %} 
                        
                    {% else %}
                        <li><a class="button" href="/logoff">Logoff</a></li>
                        
                        <li><a class="button" href="/gform/Participant">Participants</a></li>
                        <li><a class="button" href="/submenu?subm=event">Events</a></li>
                        <li><a class="button" href="/submenu?subm=registration">Registration</a></li>
                        <li><a class="button" href="/userlogin">Userlogin</a></li>
                        <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                        
                        {% if submenu == "event" %}
                            <br><br>
                            <li><a class="button" href="/gform/Event?subm=event">Events</a></li>
                            <li><a class="button" href="/gform/Venue?subm=event">Venues</a></li>
                            <li><a class="button" href="/eventsT?subm=event">Events Overview</a></li>
                            <li><a class="button" href="/gform/Type?subm=event">Types</a></li>
                        {% endif %} 
                        
                        {% if submenu == "registration" %}
                            <br><br>
                            <li><a class="button" href="/subform/Participant_Registration?subm=registration">Registration</a></li>
                            <li><a class="button" href="/gform/Feedback?subm=registration">Feedback</a></li>
                            <li><a class="button" href="/feedbackT?subm=registration">Feedback Overview</a></li>
            
                        {% endif %}
                    {% endif %}                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>