<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão de Eventos Universitários PCII</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    
                    <li><a class="button" href="/gform/Participant">Participants</a></li>
                           
                    <li><a class="button" href="/submenu?subm=event">Events</a></li>
                    <li><a class="button" href="/submenu?subm=registration">Registration</a></li>
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                    
                    <br><br>
                    {% if submenu == "event" %}
                        <li><a class="button" href="/gform/Event?subm=event">Events</a></li>
                        <li><a class="button" href="/gform/Venue?subm=event">Venues</a></li>
                        <li><a class="button" href="/gform/Type?subm=event">Types</a></li>
                    {% endif %} 
                    
                    {% if submenu == "registration" %}
                        <li><a class="button" href="/gform/Registration?subm=registration">Registration</a></li>
                        <li><a class="button" href="/productform?subm=registration">Feedback</a></li>
                    {% endif %} 
                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>