{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="300" height="200">
        <h1>{{header}}</h1>

        <table>
            <tr>
              {% for header in desl %}
                      <th>{{header}}</th>
              {% endfor %}
              <td><button id="addrow" type="button" {{butshow}} onclick="window.location.href = '/gformT/{{cname}}?option=addrow'" class="button1">+</button></td>
            </tr>
              {% for ob in objl %}
                <tr>
                  {% for key in attl %}
                      <td>{{ ob[key] }}</td>
                  {% endfor %}
                  <td><button id="delrow" type="button" {{butshow}} onclick="window.location.href = '/gformT/{{cname}}?option=delrow_{{loop.index-1}}'" class="button1">-</button></td>
                </tr>
              {% endfor %}                
                    {% if butshow == 'disabled' and butedit == 'disabled' %}
                    <tr>
                        <form id="formrow" action="/gformT/{{cname}}?option=saverow" method="post">
                        {% for key in attl %}
                             <td><input type="text" id="{{key}}" name="{{key}}" value="" size="20"/></td>
                        {% endfor %}
                        <td><button id="save" type="submit" form="formrow" class = "button1" >Save</button>
                            <button id="cancelrow" type="button" onclick="window.location.href = '/gformT/{{cname}}?option=cancelrow'" class="button1">Cancel</button></td>
                        </form>
                    <tr>
                  {% endif %}
        </table>
    </div>

{% endblock %}