{% extends 'base.html' %}

{% block title %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <img src="/static/images/{{cname}}.jpg" alt="{{cname}}" width="150" height="100">
        <h1>{{header}}</h1>
        <br>
        
<!-- horario -->
   <table class="tabelah">
       <tr>
         <td><button id="previousw" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=previousw'" 
                     class="button1"> < </button></td>
        
         {% for header in objh.colunas %}
            <th>{{header}}<br> {{objh.colunasdia[loop.index-1]}}</th>
         {% endfor %}
         
         <td><button id="nextw" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=nextw'" 
                     class="button1"> > </button></td>
       </tr>
        {% for linha in objh.semanaTree %}
            {% if loop.index-1 >= objh.horaIni and  loop.index-1 <= objh.horaFim %}
              <tr>
                  <td>{{objh.horas[loop.index-1]}}</td>
                    {% for cel in linha %}
                        <td>
                            <input type="text" value = "{{ cel.texto }}" readonly wrap="soft"  style="background-color:{{ cel.cor }}"
                                    onclick="window.location.href = '/hform/{{cname}}?option=selcel&codev={{cel.codeevent}}'" >
                        </td>
                    {% endfor %}
            <td>-</td>
              </tr>
            {%endif%}
        {% endfor %}  
    </table>        
        --------------
        <table class = "dados">

	<tr>
	<!-- area de edição -->
		<td  class = "dados"> 
		
		
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" class = "button1" {{butedit}}>Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/hform/{{cname}}?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=exit'" class="button1">Exit</button>
        <br><br>
            <form id="form" action="/hform/{{cname}}?option=save" method="post">
                <table >
                    <tr>
                        <td></td>
                        <td><label for="_diahora">diahora:</label><br>
                        
                        <input type="text"  {{butedit}} id="_diahora" name="_diahora" value="{{obj['_diahora']}}" size="30"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><label for="_code">code:</label><br>
                        
                        <input type="text" disabled="" id="_code" name="_code" value="{{obj['_code']}}" size="30"</td>
                        <td><label for="_cod_uc">cod_uc:</label><br>
                        
                        <!--
                        <input type="text" {{butedit}} id="_cod_uc" name="_cod_uc" value="{{obj['_cod_uc']}}" size="30">
                        -->
                        <select name="_cod_uc" id="_cod_uc" {{butedit}} >
                                {% for valor in UnidadeCurric.values() %}               
                                    <option value="{{valor.code}}">{{valor.NomeUC}}</option>
                                 {% endfor %}
                                 <option value="{{obj['_cod_uc']}}" SELECTED>{{UnidadeCurric[obj['_cod_uc']].NomeUC}}</option>"
                        </select>
                        </td>
                        <td><label for="_cod_turma">cod_turma:</label><br>
                        
                        <input type="text" {{butedit}} id="_cod_turma" name="_cod_turma" value="{{obj['_cod_turma']}}" size="30"></td>
                    
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td> <label for="_cod_prof">cod_prof:</label><br>
                        
                        <input type="text" {{butedit}} id="_cod_prof" name="_cod_prof" value="{{obj['_cod_prof']}}" size="30"></td>
                        <td><label for="_cod_sala">cod_sala:</label><br>
                        
                        <input type="text" {{butedit}} id="_cod_sala" name="_cod_sala" value="{{obj['_cod_sala']}}" size="30"></td>
                    
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td colspan="2"><label for="_obs">obs:</label><br>
                        
                        <input type="text" {{butedit}} id="_obs" name="_obs" value="{{obj['_obs']}}" ></td>
                    
                    </tr>
                    
                
                </table>

        </form>
        <br>
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=first'" class="button1">First</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=previous'" class="button1">Previous</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=next'" class="button1">Next</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/hform/{{cname}}?option=last'" class="button1">Last</button>
    
    </td>
    <!-- area de lista -->
    
		<td>
		Lista de Events para {{selectedcell}}
		 <table>
             
                {% for linha in objh.eventsdiahseleted %}
                   <tr>                  
                       <td><input type="text" value = "{{ linha[1] }}" size = {{linha[2]}} onclick="window.location.href = '/hform/{{cname}}?option=selcel&codev={{linha[0]}}'" ></td>
                       </tr>
                   
                   {% endfor %}
                   
                 
          </table>   
		
		</td>
	</tr>
</table>

    
    </div>

{% endblock %}