{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block content %}

    <div class="dados">
        <br><br><br>
        <img src="{{ url_for('static', filename='images/Userlogin.jpg')}}" alt="userlogin" width="200" height="200">
        <h1>Userlogin</h1>
        <br>
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=edit'" class="button1">Edit</button>
        {% if group == "admin" %} 
            <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=delete'" class="button1">Delete</button>
            <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=insert'" class="button1">Insert</button>
        {% endif %}
        <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/Userlogin?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=exit'" class="button1">Exit</button>
        <br><br>
        <form id="form" action="/Userlogin?option=save" method="post">
         {% if group == "admin" %} 
            <label for="user">User:</label>
            <input type="text" {{butedit}} id="user" name="user" value="{{user}}" size="40"/>
            <br><br>
            <label for="usergroup">Group:</label>
            <input type="text" {{butedit}} id="usergroup" name="usergroup" value="{{usergroup}}" size="40"/>
        {% else %}
            <label for="user">User:</label>
            <input type="text" disabled id="user" name="user" value="{{user}}" size="40"/>
            <br><br>
            <label for="usergroup">Group:</label>
            <input type="text" disabled id="usergroup" name="usergroup" value="{{usergroup}}" size="40"/>
        {% endif %}        
            <br><br>
            <label for="password">Password:</label>
            <input type="password" {{butedit}} id="password" name="password" size="40"/>
        </form>
        <br>
        {% if group == "admin" %} 
            <button id="first" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=first'" class="button1">First</button>
            <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=previous'" class="button1">Previous</button>
            <button id="next" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=next'" class="button1">Next</button>
            <button id="last" type="button" {{butshow}} onclick="window.location.href = '/Userlogin?option=last'" class="button1">Last</button>
        {% endif %}
    </div>

{% endblock %}